@import url('http://fonts.cdnfonts.com/css/dinroundpro-medi');

/*Colors*/
$first-tittle: #fff;
$first-background:#079DAB;

$second-tittle:#079DAB;
$second-one-subtittle:#676767;
$second-two-subtittle:#079DAB;

$color-first-information:#079DAB;
$color-second-information:#F3F3F3;

$text-form:#263D83;
$third-tittle:#263D83;
$third-subtittle:#6D6D6D;

$color-botton-form:#FF5862;

$color-navbar:#069DAB;
$color-footer:#E3E3E3;

$legales-one-footer:#716F6F;
$legales-two-footer:#FF5862;


/*fonts*/

$font-Regular:'DINRoundPro'; /*fuentes regular*/
$font-medium:'DINRoundPro-Medi';/*fuentes medium*/
$font-bold:'DINRoundPro-Bold';/*fuentes bold*/
$font-black: 'DINRoundPro-Black';/*fuentes black*/
